Questions 
1. What is the total number of people on the titanic and how many of them survived and how many did not?
2. How many that survived were female and how many that died were female.
3. How many children were on the titanic, NB: you are a child if age < 17.
4. How many children died that were on the ship.
5. How many people had families with them.
6. What is the ratio of female to male.
7. What contributed to the survival of those who survived.

In [6]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

In [7]:
pwd

'/Users/macbookpro/Documents/2. ESCP/1. Classes/16. Machine Learning in Python/Assignment 1'

In [8]:
# get and open the file, show 10 rows as a sample

data = pd.read_csv('/Users/macbookpro/Documents/2. ESCP/1. Classes/16. Machine Learning in Python/Assignment 1/titanic.csv')
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [9]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
data['PassengerId']

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64

In [22]:
data['PassengerId'].max()

891

In [23]:
len(data[data['Survived']==1])

342

# 1. What is the total number of people on the titanic and how many of them survived and how many did not?

In [24]:
print('Total number of people: ', data['PassengerId'].max())
print('Number of survivors: ', len(data[data['Survived']==1]))
print('Number of deaths: ', len(data[data['Survived']==0]))

Total number of people:  891
Number of survivors:  342
Number of deaths:  549

# 2. How many that survived were female and how many that died were female.")

In [25]:
condition_1 = data.apply(lambda x: True if (x['Survived']==1 and x['Sex']=='female') else False , axis=1)
female_survivors = len(condition_1[condition_1 == True].index)
print('Number of female survivors: ', female_survivors)

condition_2 = data.apply(lambda y: True if (y['Survived']==0 and y['Sex']=='female') else False , axis=1)
female_deaths = len(condition_2[condition_2 == True].index)
print('Number of female deaths: ', female_deaths)

Number of female survivors:  233
Number of female deaths:  81

# 3. How many children were on the titanic, NB: you are a child if age < 17.

In [26]:
condition_3 = data.apply(lambda x: True if x['Age']<17 else False , axis=1)
num_kids = len(condition_3[condition_3 == True].index)
print('Number of kids: ', num_kids)

Number of kids:  100

# 4. How many children died that were on the ship.

In [27]:
condition_4 = data.apply(lambda y: True if (y['Survived']==0 and y['Age']<17) else False , axis=1)
kids_dead = len(condition_4[condition_4== True].index)
print('Number of kids dead: ', kids_dead)

Number of kids dead:  45

# 5. How many people had families with them.

In [28]:
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1
print('{} people were with family'.format(len(data.query('FamilySize != 1'))))

354 people were with family

# 6. What is the ratio of female to male.

In [29]:
num_f=len(data[data['Sex']=='female'])
num_m=len(data[data['Sex']=='male'])
ratio=num_f/num_m
print('Number of females:',num_f)
print('Number of males:',num_m)
print('Ratio of female to male', ratio)

Number of females: 314
Number of males: 577
Ratio of female to male 0.5441941074523396

# 7. What contributed to the survival of those who survived.

In [30]:
print("Females and kids seemed to have better chances of surviving vs males and adults")
condition_1 = data.apply(lambda x: True if (x['Survived']==1 and x['Sex']=='male') else False , axis=1)
male_survivors = len(condition_1[condition_1 == True].index)

ratio=female_survivors/male_survivors
print('Ratio of female to male survivors', ratio)

condition_5 = data.apply(lambda x: True if x['Age']>17 else False , axis=1)
adults = len(condition_5[condition_5 == True].index)
condition_6 = data.apply(lambda x: True if (x['Survived']==1 and x['Age']>17) else False , axis=1)
adult_survivors = len(condition_6[condition_6 == True].index)
ratio_adults=adult_survivors/adults
print('% of adults who survived',ratio_adults)

kid_survivors=num_kids-kids_dead
ratio_kids=kid_survivors/num_kids
print('% of kids who survived:',ratio_kids)

Females and kids seemed to have better chances of surviving vs males and adults
Ratio of female to male survivors 2.1376146788990824
% of adults who survived 0.3810316139767055
% of kids who survived: 0.55